*, *::before, *::after {
    box-sizing: border-box;
}


body {
    background-color: hsl(30, 38%, 92%);
}

p {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.prod-title {
    font-size: 1.15em;
}

.price {
    font-family: 'Fraunces', serif;
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prod-box {
    background-color: white;
    border-radius: 5%;
    overflow: hidden;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    min-width: 375px;
    max-width: 600px;
}

@media (max-width: 375px) {
    .prod-box {
        min-width: 300px;
        grid-template-columns: 1fr;
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}