:root {
    --font-family: 'Outfit', sans-serif;
    --clr-primary-blue: hsl(215, 51%, 70%);
    --clr-primary-cyan: hsl(178, 100%, 50%);
    --clr-neutral-main-bg-blue: hsl(217, 54%, 11%);
    --clr-neutral-card-bg-blue: hsl(216, 50%, 16%);
    --clr-neutral-line-blue: hsl(215, 32%, 27%);
    --clr-neutral-white: hsl(0, 0%, 100%);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    /* background-color: var(--clr-neutral-main-bg-blue); */
}

p {
    color: var(--clr-primary-blue);
    font-family: var(--font-family);
    font-size: 18px;
}

img {
    width: 100%;
    border-radius: 10px;
}

svg {
    display: inline-block;
    vertical-align: middle;
}

.wrapper {
    background-color: var(--clr-neutral-card-bg-blue);
    border-radius: 10px;
    min-width: 350px;
    max-width: 500px;
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-600 {
    font-weight: 600;
    font-size: 1.5em;
}

.clr-white {
    color: var(--clr-neutral-white);
}

.clr-eth {
    color: var(--clr-primary-cyan);
}

.flex-wrapper {
    display: flex;  
}

.flex-border {
    border-top: 2px solid var(--clr-neutral-line-blue);
    padding-top: 0.5em;
}

.flex-gap { 
    justify-content: space-between;
}

.avatar {
    width: 2em;
    height: 2em;
    filter:drop-shadow(2px 2px 5px var(--clr-neutral-white));
    margin-right: 1.5em;
    margin-top: 0.75em;
}
